.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.seach-city {
  margin-left: 55px;
  background-color: orange;
  color: black;
  border-radius: 7px;
  border-color: orange;
  height: 50px;
  width: 160px;
  font-size: 18px;

}

.seach-city:hover {
  color: white;
}

.search-place {
  background-color: orange;
  color: black;
  border-radius: 7px;
  border-color: orange;
  height: 50px;
  width: 160px;
  font-size: 18px;
}

.search-place {
  display: flex;
  margin-top: -50px;
  margin-left: 350px;

}

.search-place:hover {
  color: white;
}

.form-group-row {
  /* display: flex; */
  margin-top: 150px;
  /* margin: auto; */
  background: rgb(231, 233, 235, 0.7);
  width: 600px;
  height: auto;
  border-radius: 10px;
  border: solid orange 1px;
  margin-left: 450px;
  align-items: center;
  padding: 20px;

}

.title {
  font: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 400px;
}

.placestable {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group2 {
  margin-top: 50px;
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: solid orange 1px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(250, 219, 176);
  /* text-align: center; */
}

.resultsheader {
  margin-top: 50px;
}

.pagecontent {
  background: rgba(231, 233, 235, 0.5);
  padding: 15px;
}

.gobutton {
  color: black;
  text-decoration: none;

}

.gobutton:hover {
  color: white;
  text-decoration: none;
}

.search-places {
  background-color: orange;
  height: 40px;
  border-radius: 5px;
  border-color: orange;
}

.Go-back-button {
  background-color: orange;
  height: 40px;
  border-radius: 5px;
  border-color: orange;

}